# Ignorar cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual
.env/
.venv/
env/
venv/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db